<!DOCTYPE html>
<html  lang="ro">
    <head>
        <%- include("../fragmente/head.ejs") %>
    
        <meta name="author" content="Sas Adrian-Raul">
        <meta name="keywords" content="PC gaming, Configurare PC, Plăci video, Periferice, Reduceri PC">
        <meta name="description" content="Magazin online dedicat PC-urilor personalizate pentru gaming, oferind posibilitatea configurării personalizate.">
        <link rel="stylesheet" type="text/css" href="/resurse/css/eroare.css">
        <title>Gaming-Room</title>
        <style>
            :root {
                --primary-color: #E0040B;
                --secondary-1: #F4571B;
                --secondary-2: #7A20E8; 
                --secondary-3: #E10192;
                --secondary-4: #000000;
                --colt-rotunjit:15px;
            }
        </style>
    </head>
<body>
    <header>
        <%- include("../fragmente/nav.ejs")  %>
    </header>
    <main>
        <h2>Alta pagina</h2>
    </main>
    <%- include("../fragmente/footer.ejs")  %>
</body>
</html>