<footer>
    <address>
        <p>Telefon: <a href="tel:+40779782110">+40 779 782 110</a></p>
        <p>Email: <a href="mailto:informare@gamingroom.ro">informare@gamingroom.ro</a></p>
        <p>Adresa: <a href="https://www.google.com/maps/place/Str.+Clinicilor+2,+Cluj-Napoca+400006/@46.7670081,23.5822671,17z/data=!3m1!4b1!4m15!1m8!3m7!1s0x47490c1f916c0b8b:0xbbc601c331f148b!2sCluj-Napoca!3b1!8m2!3d46.7712101!4d23.6236353!16zL20vMHAyZ3E!3m5!1s0x47490e82fedf1cdd:0x11e5f4fb472a144c!8m2!3d46.7670045!4d23.584842!16s%2Fg%2F12hm3hs68?entry=ttu&g_ep=EgoyMDI0MTAxNi4wIKXMDSoASAFQAw%3D%3D" target="_blank">Bd. Turda, nr. 490, Cluj</a></p>
        <p>Chat WhatsApp: <a href="https://wa.me/40700000000" target="_blank">+40 779 782 110</a></p>
    </address>
    <p><small>&copy; 2024 PC-uri pentru Gaming. Toate drepturile rezervate.</small></p>
    <a href="#" class="scroll-top">
        <span class="paranteza">( </span><div class="triangle"></div><span class="paranteza"> )</span>
    </a>
    <p id="banner-printare">Acesta este un proiect școlar!</p>
</footer>