<span class="fa-solid fa-gamepad fa-2x"></span>
<h1 class="c1" id="titlu">Gaming-Room</h1><span class="fa-brands fa-playstation fa-spin fa-2x"></span>
<p id="watermark">Sas<br>Adrian-Raul</p>
<nav>          
    <ul class="navbar"> 
        <li><a href="/index#">Acasa</a></li>
        <li class="subnav">
            <a href="/index#">Configurare PC <i class="fa fa-caret-down"></i></a>
            <ul class="subnav-content">
                <li><a href="/index#configurare">Ghid Configurare</a></li>
                <li><a href="/index#componente">Componente</a></li>
            </ul>
        </li>
        <li class="subnav">
            <a href="/index#">Periferice <i class="fa fa-caret-down"></i></a>
            <ul class="subnav-content">
                <li><a href="/index#mouse">Mouse</a></li>
                <li><a href="/index#tastaturi">Tastaturi</a></li>
            </ul>
        </li>
        <li><a href="/index#reduceri">Oferte Speciale</a></li>
    </ul>
</nav>
